In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Liberies

In [3]:
# Standard Libraries
import numpy as np
import pandas as pd

# Machine Learning Models and Metrics
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Time Series Libraries
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA

# Machine Learning Frameworks
import xgboost as xgb
from catboost import CatBoostRegressor, Pool
from lightgbm import LGBMRegressor


# For Suppressing Warnings
import warnings
warnings.filterwarnings("ignore")

# 1. Data

In [4]:
# 加载训练集和测试集
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [5]:
# 添加 'dateset' 列以区分训练数据和测试数据
train['dataset'] = 'train'
test['dataset'] = 'test'

# 将数据集与新增的 'dataset' 列进行拼接.
df = pd.concat([train, test], axis=0).reset_index(drop=True)

In [6]:
oil_data = pd.read_csv('oil.csv')
holidays_data = pd.read_csv('holidays_events.csv')
store_data = pd.read_csv('stores.csv')
transactions_data = pd.read_csv('transactions.csv')

In [7]:
print(df.columns)
print(oil_data.columns)
print(holidays_data.columns)
print(store_data.columns)
print(transactions_data.columns)

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion', 'dataset'], dtype='object')
Index(['date', 'dcoilwtico'], dtype='object')
Index(['date', 'type', 'locale', 'locale_name', 'description', 'transferred'], dtype='object')
Index(['store_nbr', 'city', 'state', 'type', 'cluster'], dtype='object')
Index(['date', 'store_nbr', 'transactions'], dtype='object')

In [8]:
train.head()

   id        date  store_nbr      family  sales  onpromotion dataset
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0   train
1   1  2013-01-01          1   BABY CARE    0.0            0   train
2   2  2013-01-01          1      BEAUTY    0.0            0   train
3   3  2013-01-01          1   BEVERAGES    0.0            0   train
4   4  2013-01-01          1       BOOKS    0.0            0   train

In [9]:
test

,id,date,store_nbr,family,onpromotion,dataset
0,3000888,2017-08-16,1,AUTOMOTIVE,0,test
1,3000889,2017-08-16,1,BABY CARE,0,test
2,3000890,2017-08-16,1,BEAUTY,2,test
3,3000891,2017-08-16,1,BEVERAGES,20,test
4,3000892,2017-08-16,1,BOOKS,0,test
...,...,...,...,...,...,...
28507,3029395,2017-08-31,9,POULTRY,1,test
28508,3029396,2017-08-31,9,PREPARED FOODS,0,test
28509,3029397,2017-08-31,9,PRODUCE,1,test
28510,3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,9,test
28511,3029399,2017-08-31,9,SEAFOOD,0,test

In [10]:
oil_data

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [11]:
holidays_data

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
...,...,...,...,...,...,...
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False
348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False

In [12]:
holidays_data[holidays_data['transferred'] == True]

,date,type,locale,locale_name,description,transferred
19,2012-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
72,2013-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
135,2014-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
255,2016-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True
266,2016-07-25,Holiday,Local,Guayaquil,Fundacion de Guayaquil,True
268,2016-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True
297,2017-01-01,Holiday,National,Ecuador,Primer dia del ano,True
303,2017-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,True
312,2017-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True
324,2017-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True
328,2017-09-28,Holiday,Local,Ibarra,Fundacion de Ibarra,True
340,2017-12-06,Holiday,Local,Quito,Fundacion de Quito,True

In [13]:
holidays_data[holidays_data['type'] == 'Transfer']

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
73,2013-10-11,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
136,2014-10-10,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
256,2016-05-27,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
265,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False
269,2016-08-12,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
298,2017-01-02,Transfer,National,Ecuador,Traslado Primer dia del ano,False
304,2017-04-13,Transfer,Local,Cuenca,Fundacion de Cuenca,False
313,2017-05-26,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
325,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
329,2017-09-29,Transfer,Local,Ibarra,Fundacion de Ibarra,False
342,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,False

In [14]:
holidays_data[holidays_data['type'] == 'Bridge']

,date,type,locale,locale_name,description,transferred
35,2012-12-24,Bridge,National,Ecuador,Puente Navidad,False
39,2012-12-31,Bridge,National,Ecuador,Puente Primer dia del ano,False
156,2014-12-26,Bridge,National,Ecuador,Puente Navidad,False
160,2015-01-02,Bridge,National,Ecuador,Puente Primer dia del ano,False
277,2016-11-04,Bridge,National,Ecuador,Puente Dia de Difuntos,False

In [15]:
holidays_data[holidays_data['type'] == 'Transfer']

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
73,2013-10-11,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
136,2014-10-10,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
256,2016-05-27,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
265,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False
269,2016-08-12,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
298,2017-01-02,Transfer,National,Ecuador,Traslado Primer dia del ano,False
304,2017-04-13,Transfer,Local,Cuenca,Fundacion de Cuenca,False
313,2017-05-26,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
325,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
329,2017-09-29,Transfer,Local,Ibarra,Fundacion de Ibarra,False
342,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,False

In [16]:
holidays_data.loc[holidays_data['type'] == 'Transfer', 'type'] = 'Holiday'

In [17]:
holidays_data['Holiday summary'] = (
    holidays_data['type'].astype(str) + " " +
    holidays_data['locale'].astype(str) + " " +
    holidays_data['locale_name'].astype(str) + " " 
    # holidays_data['description'].astype(str)
)

In [18]:
holidays_data= holidays_data.drop(columns=['type', 'locale', 'locale_name', 'description'] , errors='ignore' )

In [19]:
holidays_data['Holiday summary'].value_counts()

Holiday summary
Holiday National Ecuador                            68
Event National Ecuador                              56
Additional National Ecuador                         40
Holiday Local Ambato                                12
Holiday Local Riobamba                              12
Holiday Local Guaranda                              12
Holiday Local Latacunga                             12
Holiday Local Ibarra                                 7
Holiday Local Cuenca                                 7
Holiday Local Quito                                  7
Holiday Local Salinas                                6
Holiday Local Loja                                   6
Additional Local Quito                               6
Holiday Regional Santa Elena                         6
Holiday Regional Santo Domingo de los Tsachilas      6
Holiday Local Quevedo                                6
Holiday Local Manta                                  6
Holiday Regional Cotopaxi                            6
Holiday Local Esmeraldas                             6
Holiday Local Cayambe                                6
Holiday Local El Carmen                              6
Holiday Local Santo Domingo                          6
Holiday Local Machala                                6
Holiday Regional Imbabura                            6
Holiday Local Puyo                                   6
Holiday Local Libertad                               6
Holiday Local Guayaquil                              6
Bridge National Ecuador                              5
Work Day National Ecuador                            5
Additional Local Guayaquil                           5
Name: count, dtype: int64

In [20]:
store_data

    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3

In [21]:
transactions_data

             date  store_nbr  transactions
0      2013-01-01         25           770
1      2013-01-02          1          2111
2      2013-01-02          2          2358
3      2013-01-02          3          3487
4      2013-01-02          4          1922
...           ...        ...           ...
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [22]:
store_data['state'].value_counts()

state
Pichincha                         19
Guayas                            11
Santo Domingo de los Tsachilas     3
Azuay                              3
Manabi                             3
Cotopaxi                           2
Tungurahua                         2
Los Rios                           2
El Oro                             2
Chimborazo                         1
Imbabura                           1
Bolivar                            1
Pastaza                            1
Santa Elena                        1
Loja                               1
Esmeraldas                         1
Name: count, dtype: int64

In [23]:
store_data['city'].value_counts()

city
Quito            18
Guayaquil         8
Cuenca            3
Santo Domingo     3
Manta             2
Latacunga         2
Machala           2
Ambato            2
Quevedo           1
Esmeraldas        1
Loja              1
Libertad          1
Playas            1
Daule             1
Babahoyo          1
Salinas           1
Puyo              1
Guaranda          1
Ibarra            1
Riobamba          1
Cayambe           1
El Carmen         1
Name: count, dtype: int64

In [24]:
# 按日期合并 oil 数据
df = df.merge(oil_data, on='date', how='left')

In [25]:
# Merge holiday data on date
df = df.merge(holidays_data, on='date', how='left')

In [26]:
# Merge store data on store number
df = df.merge(store_data, on='store_nbr', how='left')

In [27]:
# Merge transaction data on store number and date
df = df.merge(transactions_data, on=['date', 'store_nbr'], how='left')

In [28]:
df.sample(30)

,id,date,store_nbr,family,sales,onpromotion,dataset,dcoilwtico,transferred,Holiday summary,city,state,type,cluster,transactions
515447,508319,2013-10-13,21,LAWN AND GARDEN,0.000,0,train,NaN,NaN,NaN,Santo Domingo,Santo Domingo de los Tsachilas,B,6,NaN
36894,36894,2013-01-21,44,AUTOMOTIVE,10.000,0,train,NaN,NaN,NaN,Quito,Pichincha,A,5,3508.0
294436,292654,2013-06-14,20,EGGS,0.000,0,train,97.83,NaN,NaN,Quito,Pichincha,B,6,NaN
1827043,1802095,2015-10-11,22,SCHOOL AND OFFICE SUPPLIES,0.000,0,train,NaN,NaN,NaN,Puyo,Pastaza,C,7,1725.0
2692892,2646560,2017-01-29,17,PET SUPPLIES,7.000,0,train,NaN,NaN,NaN,Quito,Pichincha,C,12,1848.0
390709,383581,2013-08-04,21,"LIQUOR,WINE,BEER",0.000,0,train,NaN,NaN,NaN,Santo Domingo,Santo Domingo de los Tsachilas,B,6,NaN
497159,490031,2013-10-02,9,HARDWARE,1.000,0,train,104.15,NaN,NaN,Quito,Pichincha,B,6,2319.0
1006047,990009,2014-07-11,37,DELI,146.123,43,train,101.48,NaN,NaN,Cuenca,Azuay,D,2,1652.0
1904807,1879859,2015-11-23,54,HARDWARE,0.000,0,train,39.27,NaN,NaN,El Carmen,Manabi,C,3,847.0
1349854,1330252,2015-01-19,33,"LIQUOR,WINE,BEER",4.000,0,train,NaN,NaN,NaN,Quevedo,Los Rios,C,3,1117.0
1795609,1770661,2015-09-23,40,GROCERY II,5.000,0,train,44.53,NaN,NaN,Machala,El Oro,C,3,1257.0
1785273,1760325,2015-09-17,50,CELEBRATION,84.000,0,train,46.93,NaN,NaN,Ambato,Tungurahua,A,14,1868.0
2584765,2540215,2016-11-29,33,CLEANING,777.000,11,train,45.29,NaN,NaN,Quevedo,Los Rios,C,3,839.0
2091158,2064428,2016-03-07,33,HARDWARE,1.000,0,train,37.90,NaN,NaN,Quevedo,Los Rios,C,3,1049.0
815093,806183,2014-03-30,29,PET SUPPLIES,0.000,0,train,NaN,NaN,NaN,Guayaquil,Guayas,E,10,NaN
2845140,2797026,2017-04-23,39,GROCERY I,7663.172,76,train,NaN,NaN,NaN,Cuenca,Azuay,B,6,1569.0
2806015,2759683,2017-04-02,40,PERSONAL CARE,329.000,13,train,NaN,NaN,NaN,Machala,El Oro,C,3,1206.0
398416,391288,2013-08-08,38,CLEANING,747.000,0,train,103.45,NaN,NaN,Loja,Loja,D,4,1442.0
555337,548209,2013-11-04,40,GROCERY II,6.000,0,train,94.58,NaN,NaN,Machala,El Oro,C,3,1269.0
2252419,2216779,2016-05-31,9,BOOKS,0.000,0,train,49.10,NaN,NaN,Quito,Pichincha,B,6,2217.0
1641981,1618815,2015-06-30,30,AUTOMOTIVE,7.000,0,train,59.48,NaN,NaN,Guayaquil,Guayas,C,3,742.0
2714767,2668435,2017-02-10,30,"LIQUOR,WINE,BEER",76.000,3,train,53.84,NaN,NaN,Guayaquil,Guayas,C,3,703.0
2586576,2542026,2016-11-30,34,BEVERAGES,2368.000,54,train,49.41,NaN,NaN,Guayaquil,Guayas,B,6,2037.0
1186729,1170691,2014-10-20,7,HOME AND KITCHEN II,18.000,0,train,82.76,NaN,NaN,Quito,Pichincha,D,8,1884.0
172884,172884,2013-04-08,1,PRODUCE,0.000,0,train,93.36,NaN,NaN,Quito,Pichincha,D,13,1824.0
699919,691009,2014-01-24,47,"LIQUOR,WINE,BEER",240.000,0,train,96.66,NaN,NaN,Quito,Pichincha,A,14,3504.0
1344153,1324551,2015-01-16,23,PRODUCE,4.000,0,train,48.49,NaN,NaN,Ambato,Tungurahua,D,9,1124.0
1090204,1074166,2014-08-27,48,HOME AND KITCHEN II,0.000,0,train,95.82,NaN,NaN,Quito,Pichincha,A,14,2773.0
2538571,2495803,2016-11-04,37,GROCERY II,32.000,0,train,44.07,False,Bridge National Ecuador,Cuenca,Azuay,D,2,1325.0
1753770,1728822,2015-08-31,17,HOME CARE,301.000,0,train,49.20,NaN,NaN,Quito,Pichincha,C,12,1413.0

## 1.1: Basic Data Overview

In [29]:
# Basic info and shape
print("Dataset Shape:", df.shape)
print("\nDataset Info:")
df.info()

# Checking for missing values
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

Dataset Shape: (3082860, 15)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3082860 entries, 0 to 3082859
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   date             object
 2   store_nbr        int64
 3   family           object
 4   sales            float64
 5   onpromotion      int64
 6   dataset          object
 7   dcoilwtico       float64
 8   transferred      object
 9   Holiday summary  object
 10  city             object
 11  state            object
 12  type             object
 13  cluster          int64
 14  transactions     float64
dtypes: float64(3), int64(4), object(8)
memory usage: 352.8+ MB

Missing Values in Each Column:
id                       0
date                     0
store_nbr                0
family                   0
sales                28512
onpromotion              0
dataset                  0
dcoilwtico          962280
transferred        2578554
Holiday summary    2578554
city                     0
state                    0
type                     0
cluster                  0
transactions        277629
dtype: int64

In [30]:
# Summary statistics for numerical columns
print("\nSummary Statistics for Numerical Columns:")
df.describe()

Summary Statistics for Numerical Columns:

,id,store_nbr,sales,onpromotion,dcoilwtico,cluster,transactions
count,3.082860e+06,3.082860e+06,3.054348e+06,3.082860e+06,2.120580e+06,3.082860e+06,2.805231e+06
mean,1.518250e+06,2.750000e+01,3.590209e+02,2.657692e+00,6.780640e+01,8.481481e+00,1.697071e+03
std,8.742912e+05,1.558579e+01,1.107286e+03,1.236626e+01,2.564571e+01,4.649735e+00,9.668317e+02
min,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.619000e+01,1.000000e+00,5.000000e+00
25%,7.618048e+05,1.400000e+01,0.000000e+00,0.000000e+00,4.646000e+01,4.000000e+00,1.046000e+03
50%,1.521828e+06,2.750000e+01,1.100000e+01,0.000000e+00,5.325000e+01,8.500000e+00,1.395000e+03
75%,2.272940e+06,4.100000e+01,1.960110e+02,0.000000e+00,9.572000e+01,1.300000e+01,2.081000e+03
max,3.029399e+06,5.400000e+01,1.247170e+05,7.410000e+02,1.106200e+02,1.700000e+01,8.359000e+03

# 2. Data Preprocessing

## 2.1: Handle Missing Values

In [31]:
# Handle missing values in the dataset

# Fill missing values in oil prices using forward fill, then backward fill
df['dcoilwtico'] = df['dcoilwtico'].fillna(method='ffill').fillna(method='bfill')

# Create a binary column 'is_holiday'
# Set 0 for 'Not Holiday' and 1 for any holiday-related value
df['is_holiday'] = df['Holiday summary'].fillna('Not Holiday').apply(lambda x: 0 if x == 'Not Holiday' else 1)

# Handle missing values in the 'transactions' column:
# Step 1: Fill missing transactions with the median transactions for each product family
df['transactions'] = df.groupby('family')['transactions'].transform(
    lambda x: x.fillna(x.median())
)

# Step 2: For any remaining missing values, apply forward fill
df['transactions'].fillna(method='ffill', inplace=True)

# Step 3: If forward fill fails (e.g., for the first row), fill with the overall mean
df['transactions'].fillna(df['transactions'].mean(), inplace=True)

# Drop unnecessary columns
df = df.drop(columns=['transferred', 'Holiday summary'], errors='ignore')

In [32]:
# Checking for missing values
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
id                  0
date                0
store_nbr           0
family              0
sales           28512
onpromotion         0
dataset             0
dcoilwtico          0
city                0
state               0
type                0
cluster             0
transactions        0
is_holiday          0
dtype: int64

## 2.2 Convert Date Column and Extract Temporal Features

In [33]:
# Extract year, month, day, day of the week, and other possible temporal features
# Convert 'date' column to numerical features
df['date'] = pd.to_datetime(df['date'])
df['day'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.dayofweek
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

df = df.sort_values(by='date')

## 2.3: Encode Categorical Variables

In [34]:
df['family'].value_counts()
df.groupby('family', as_index=False).agg(
    sales_count=('sales', 'count'),
    sales_mean=('sales', 'mean')
).sort_values(by='sales_mean', ascending=False)[:10]

           family  sales_count   sales_mean
12      GROCERY I        92556  3790.432797
3       BEVERAGES        92556  2394.912701
30        PRODUCE        92556  1355.373698
7        CLEANING        92556  1074.171518
8           DAIRY        92556   711.175991
5    BREAD/BAKERY        92556   464.150612
28        POULTRY        92556   351.078816
24          MEATS        92556   341.965905
25  PERSONAL CARE        92556   271.192381
9            DELI        92556   265.629746

In [35]:
df.groupby('store_nbr', as_index=False).agg(
    sales_count=('sales', 'count'),
    sales_mean=('sales', 'mean')
).sort_values(by='sales_mean', ascending=False)[:10]

    store_nbr  sales_count   sales_mean
43         44        56562  1120.118405
44         45        56562   984.565998
46         47        56562   919.777871
2           3        56562   911.098054
48         49        56562   784.039156
45         46        56562   756.775349
47         48        56562   649.584599
50         51        56562   594.106667
7           8        56562   550.264615
49         50        56562   517.551554

In [36]:
df.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion', 'dataset',
       'dcoilwtico', 'city', 'state', 'type', 'cluster', 'transactions',
       'is_holiday', 'day', 'day_of_week', 'month', 'year'],
      dtype='object')

In [37]:
from sklearn.preprocessing import LabelEncoder
from category_encoders import TargetEncoder


# One-Hot Encoding for selected columns
# Perform one-hot encoding on 'store_type' and 'family' columns
df = pd.get_dummies(df, columns=['store_nbr', 'family'], dtype=int, drop_first=True)

# Function for Target Encoding multiple categorical columns
def target_encoding_multiple_columns(df, target_column, categorical_columns, dataset_column='dataset'):
    
    for col in categorical_columns:
        # Calculate target mean for each category in the column using training data
        target_mean = df[df[dataset_column] == 'train'].groupby(col)[target_column].mean()

        # Map the target mean encoding to the entire dataset
        df[f'{col}_encoded'] = df[col].map(target_mean)

        # Handle missing values for categories not present in training
        df[f'{col}_encoded'].fillna(df[target_column].mean(), inplace=True)

    return df

# Example usage: Apply Target Encoding to multiple columns
categorical_columns = ['month', 'day', 'year', 'day_of_week']
df = target_encoding_multiple_columns(df, target_column='sales', categorical_columns=categorical_columns)


# Drop unnecessary columns after encoding
columns_to_drop = [
    'locale_name', 'description', 'transferred', 'city', 'state', 'family',
    'month', 'day_of_week', 'day', 'year', 'cluster', 'type'
]
df.drop(columns=columns_to_drop, errors='ignore', inplace=True)

In [38]:
df.columns

Index(['id', 'date', 'sales', 'onpromotion', 'dataset', 'dcoilwtico',
       'transactions', 'is_holiday', 'store_nbr_2', 'store_nbr_3',
       'store_nbr_4', 'store_nbr_5', 'store_nbr_6', 'store_nbr_7',
       'store_nbr_8', 'store_nbr_9', 'store_nbr_10', 'store_nbr_11',
       'store_nbr_12', 'store_nbr_13', 'store_nbr_14', 'store_nbr_15',
       'store_nbr_16', 'store_nbr_17', 'store_nbr_18', 'store_nbr_19',
       'store_nbr_20', 'store_nbr_21', 'store_nbr_22', 'store_nbr_23',
       'store_nbr_24', 'store_nbr_25', 'store_nbr_26', 'store_nbr_27',
       'store_nbr_28', 'store_nbr_29', 'store_nbr_30', 'store_nbr_31',
       'store_nbr_32', 'store_nbr_33', 'store_nbr_34', 'store_nbr_35',
       'store_nbr_36', 'store_nbr_37', 'store_nbr_38', 'store_nbr_39',
       'store_nbr_40', 'store_nbr_41', 'store_nbr_42', 'store_nbr_43',
       'store_nbr_44', 'store_nbr_45', 'store_nbr_46', 'store_nbr_47',
       'store_nbr_48', 'store_nbr_49', 'store_nbr_50', 'store_nbr_51',
       'store_nbr_52', 'store_nbr_53', 'store_nbr_54', 'family_BABY CARE',
       'family_BEAUTY', 'family_BEVERAGES', 'family_BOOKS',
       'family_BREAD/BAKERY', 'family_CELEBRATION', 'family_CLEANING',
       'family_DAIRY', 'family_DELI', 'family_EGGS', 'family_FROZEN FOODS',
       'family_GROCERY I', 'family_GROCERY II', 'family_HARDWARE',
       'family_HOME AND KITCHEN I', 'family_HOME AND KITCHEN II',
       'family_HOME APPLIANCES', 'family_HOME CARE', 'family_LADIESWEAR',
       'family_LAWN AND GARDEN', 'family_LINGERIE', 'family_LIQUOR,WINE,BEER',
       'family_MAGAZINES', 'family_MEATS', 'family_PERSONAL CARE',
       'family_PET SUPPLIES', 'family_PLAYERS AND ELECTRONICS',
       'family_POULTRY', 'family_PREPARED FOODS', 'family_PRODUCE',
       'family_SCHOOL AND OFFICE SUPPLIES', 'family_SEAFOOD', 'month_encoded',
       'day_encoded', 'year_encoded', 'day_of_week_encoded'],
      dtype='object')

## 2.4: Split Data Back into Train and Test Sets

In [39]:
from sklearn.preprocessing import StandardScaler
import numpy as np

# Step 5: Split Data Based on Time Series Order

# Separate train and test datasets
train_df = df[df['dataset'] == 'train'].drop(columns=['dataset'], errors='ignore')
test_df = df[df['dataset'] == 'test'].drop(columns=['dataset'], errors='ignore')


# Drop unnecessary columns from both datasets
train_df = train_df.drop(columns=['transactions', 'id'], errors='ignore')
test_df = test_df.drop(columns=['transactions'], errors='ignore')

# Sort training data by date to preserve time series order
train_df = train_df.sort_values(by='date')

# Define the split point for time series validation
split_ratio = 0.99  # Adjust as needed
split_index = int(len(train_df) * split_ratio)

# Create training and validation sets
X_train = train_df.iloc[:split_index].drop(columns=['sales'])
y_train = train_df.iloc[:split_index]['sales']
X_val = train_df.iloc[split_index:].drop(columns=['sales'])
y_val = train_df.iloc[split_index:]['sales']

# Log transform the target variables to stabilize variance
y_train = np.log1p(y_train)  # Log transform training target
y_val = np.log1p(y_val)      # Log transform validation target

# Drop the 'date' column after feature extraction
X_train = X_train.drop(columns=['date'], errors='ignore')
X_val = X_val.drop(columns=['date'], errors='ignore')

X_test = test_df.drop(columns=['sales'], errors='ignore')

In [40]:
X_val

,onpromotion,dcoilwtico,is_holiday,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,store_nbr_6,store_nbr_7,store_nbr_8,...,family_PLAYERS AND ELECTRONICS,family_POULTRY,family_PREPARED FOODS,family_PRODUCE,family_SCHOOL AND OFFICE SUPPLIES,family_SEAFOOD,month_encoded,day_encoded,year_encoded,day_of_week_encoded
3023829,0,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023817,0,49.72,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023806,1,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023807,0,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023808,12,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054345,148,47.57,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,336.992535,348.736707,481.166458,319.920782
3054346,8,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,336.992535,348.736707,481.166458,319.920782
3054347,0,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,336.992535,348.736707,481.166458,319.920782
3054322,25,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,336.992535,348.736707,481.166458,319.920782
3053163,10,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,336.992535,348.736707,481.166458,319.920782

# 3. Model Selection and Implementation

## CatBoost

In [42]:
# Define train and validation pools
from catboost import CatBoostRegressor, Pool

# Assuming train_pool and val_pool are already defined
train_pool = Pool(X_train, y_train)
val_pool = Pool(X_val, y_val)

# Define the CatBoost model with initial parameters
catboost_model = CatBoostRegressor(
    iterations=10000,          # Total iterations to train
    learning_rate=0.1,        # Learning rate
    depth=8,                  # Tree depth
    loss_function='RMSE',     # Loss function
    eval_metric='RMSE',       # Evaluation metric
    random_seed=42,           # Random seed for reproducibility
    verbose=100,               # Verbose output for every 50 iterations
    early_stopping_rounds=50  # Early stopping if no improvement for 50 rounds
)

# Training loop
train_loop_count = 50  # Number of training stages
init_model = None  # Start without an initial model

for i in range(train_loop_count):
    print(f"\nTraining Stage {i + 1}/{train_loop_count}\n")
    catboost_model.fit(
        train_pool,
        eval_set=val_pool,
        early_stopping_rounds=50,
        verbose=50,
        use_best_model=True,
        init_model=init_model  # Use the model from the previous stage
    )
    # Update the initial model for the next training stage
    init_model = catboost_model

# Final model is stored in catboost_model

Training Stage 1/50

0:	learn: 2.5592675	test: 2.4468546	best: 2.4468546 (0)	total: 250ms	remaining: 41m 37s
50:	learn: 1.2962385	test: 1.0346200	best: 1.0346200 (50)	total: 8.97s	remaining: 29m 10s
100:	learn: 1.0727111	test: 0.8925951	best: 0.8925951 (100)	total: 16.1s	remaining: 26m 20s
150:	learn: 0.9675240	test: 0.8060438	best: 0.8060438 (150)	total: 24s	remaining: 26m 2s
200:	learn: 0.9001200	test: 0.7506687	best: 0.7506687 (200)	total: 31.6s	remaining: 25m 39s
250:	learn: 0.8474015	test: 0.7144918	best: 0.7144918 (250)	total: 39.1s	remaining: 25m 16s
300:	learn: 0.8100425	test: 0.6889586	best: 0.6889586 (300)	total: 46.7s	remaining: 25m 5s
350:	learn: 0.7757096	test: 0.6689362	best: 0.6689362 (350)	total: 54.5s	remaining: 24m 57s
400:	learn: 0.7515872	test: 0.6504629	best: 0.6504629 (400)	total: 1m 2s	remaining: 24m 46s
450:	learn: 0.7308678	test: 0.6346199	best: 0.6346199 (450)	total: 1m 9s	remaining: 24m 41s
500:	learn: 0.7107595	test: 0.6235811	best: 0.6235811 (500)	total: 1m 17s	remaining: 24m 30s
550:	learn: 0.6941427	test: 0.6102232	best: 0.6102232 (550)	total: 1m 25s	remaining: 24m 19s
600:	learn: 0.6796250	test: 0.6034306	best: 0.6034306 (600)	total: 1m 32s	remaining: 24m 6s
650:	learn: 0.6669373	test: 0.5957503	best: 0.5957503 (650)	total: 1m 39s	remaining: 23m 53s
700:	learn: 0.6555172	test: 0.5902050	best: 0.5902050 (700)	total: 1m 47s	remaining: 23m 47s
750:	learn: 0.6440673	test: 0.5825310	best: 0.5825310 (750)	total: 1m 55s	remaining: 23m 40s
800:	learn: 0.6346951	test: 0.5766046	best: 0.5766046 (800)	total: 2m 3s	remaining: 23m 33s
850:	learn: 0.6251206	test: 0.5735708	best: 0.5735708 (850)	total: 2m 10s	remaining: 23m 24s
900:	learn: 0.6171390	test: 0.5677446	best: 0.5677074 (898)	total: 2m 18s	remaining: 23m 20s
950:	learn: 0.6090441	test: 0.5648091	best: 0.5643150 (945)	total: 2m 26s	remaining: 23m 17s
1000:	learn: 0.6019477	test: 0.5576463	best: 0.5576463 (1000)	total: 2m 34s	remaining: 23m 12s
1050:	learn: 0.5959845	test: 0.5548471	best: 0.5548471 (1050)	total: 2m 42s	remaining: 23m 5s
1100:	learn: 0.5892916	test: 0.5514398	best: 0.5512971 (1098)	total: 2m 50s	remaining: 22m 57s
1150:	learn: 0.5836775	test: 0.5481489	best: 0.5481489 (1150)	total: 2m 58s	remaining: 22m 49s
1200:	learn: 0.5781453	test: 0.5439644	best: 0.5439644 (1200)	total: 3m 6s	remaining: 22m 46s
1250:	learn: 0.5729860	test: 0.5386710	best: 0.5386710 (1250)	total: 3m 14s	remaining: 22m 42s

KeyboardInterrupt:

In [ ]:
august_pool = Pool(X_val, y_val)

In [ ]:
for i in range(1):
    catboost_model.fit(august_pool, verbose=50, init_model = catboost_model)

0:	learn: 0.4636497	total: 6.05ms	remaining: 1m
50:	learn: 0.4147613	total: 296ms	remaining: 57.6s
100:	learn: 0.4022951	total: 582ms	remaining: 57s
150:	learn: 0.3909944	total: 875ms	remaining: 57.1s
200:	learn: 0.3827195	total: 1.19s	remaining: 58s
250:	learn: 0.3760679	total: 1.47s	remaining: 57s
300:	learn: 0.3704810	total: 1.75s	remaining: 56.3s
350:	learn: 0.3654578	total: 2.02s	remaining: 55.4s
400:	learn: 0.3609986	total: 2.29s	remaining: 54.8s
450:	learn: 0.3569799	total: 2.61s	remaining: 55.3s
500:	learn: 0.3532494	total: 2.88s	remaining: 54.7s
550:	learn: 0.3498452	total: 3.2s	remaining: 54.9s
600:	learn: 0.3465577	total: 3.47s	remaining: 54.3s
650:	learn: 0.3436464	total: 3.74s	remaining: 53.8s
700:	learn: 0.3408559	total: 4.02s	remaining: 53.3s
750:	learn: 0.3380839	total: 4.29s	remaining: 52.8s
800:	learn: 0.3354737	total: 4.56s	remaining: 52.4s
850:	learn: 0.3329439	total: 4.83s	remaining: 52s
900:	learn: 0.3306899	total: 5.11s	remaining: 51.6s
950:	learn: 0.3285472	total: 5.4s	remaining: 51.4s
1000:	learn: 0.3261894	total: 5.69s	remaining: 51.1s
1050:	learn: 0.3241488	total: 5.98s	remaining: 51s
1100:	learn: 0.3220473	total: 6.3s	remaining: 50.9s
1150:	learn: 0.3202182	total: 6.61s	remaining: 50.8s
1200:	learn: 0.3182472	total: 6.91s	remaining: 50.6s
1250:	learn: 0.3162354	total: 7.23s	remaining: 50.6s
1300:	learn: 0.3143987	total: 7.55s	remaining: 50.5s
1350:	learn: 0.3123335	total: 7.82s	remaining: 50.1s
1400:	learn: 0.3105104	total: 8.12s	remaining: 49.8s
1450:	learn: 0.3087957	total: 8.46s	remaining: 49.9s
1500:	learn: 0.3071253	total: 8.78s	remaining: 49.7s
1550:	learn: 0.3052797	total: 9.08s	remaining: 49.5s
1600:	learn: 0.3035842	total: 9.36s	remaining: 49.1s
1650:	learn: 0.3019043	total: 9.63s	remaining: 48.7s
1700:	learn: 0.3002327	total: 9.9s	remaining: 48.3s
1750:	learn: 0.2986510	total: 10.2s	remaining: 48s
1800:	learn: 0.2970661	total: 10.4s	remaining: 47.6s
1850:	learn: 0.2956783	total: 10.7s	remaining: 47.2s
1900:	learn: 0.2942001	total: 11s	remaining: 46.9s
1950:	learn: 0.2926437	total: 11.3s	remaining: 46.7s
2000:	learn: 0.2911604	total: 11.6s	remaining: 46.4s
2050:	learn: 0.2896973	total: 11.9s	remaining: 46.1s
2100:	learn: 0.2882851	total: 12.2s	remaining: 45.8s
2150:	learn: 0.2869889	total: 12.5s	remaining: 45.6s
2200:	learn: 0.2855979	total: 12.8s	remaining: 45.5s
2250:	learn: 0.2842091	total: 13.1s	remaining: 45.1s
2300:	learn: 0.2829939	total: 13.4s	remaining: 44.9s
2350:	learn: 0.2818330	total: 13.7s	remaining: 44.5s
2400:	learn: 0.2804970	total: 14s	remaining: 44.2s
2450:	learn: 0.2793057	total: 14.3s	remaining: 43.9s
2500:	learn: 0.2780573	total: 14.6s	remaining: 43.7s
2550:	learn: 0.2768924	total: 14.9s	remaining: 43.4s
2600:	learn: 0.2756436	total: 15.2s	remaining: 43.1s
2650:	learn: 0.2744485	total: 15.4s	remaining: 42.8s
2700:	learn: 0.2733443	total: 15.7s	remaining: 42.4s
2750:	learn: 0.2721399	total: 16s	remaining: 42.1s
2800:	learn: 0.2710919	total: 16.2s	remaining: 41.7s
2850:	learn: 0.2699402	total: 16.5s	remaining: 41.4s
2900:	learn: 0.2687876	total: 16.8s	remaining: 41.1s
2950:	learn: 0.2676477	total: 17.1s	remaining: 40.7s
3000:	learn: 0.2664861	total: 17.3s	remaining: 40.4s
3050:	learn: 0.2654390	total: 17.6s	remaining: 40.1s
3100:	learn: 0.2644843	total: 17.9s	remaining: 39.8s
3150:	learn: 0.2634650	total: 18.2s	remaining: 39.5s
3200:	learn: 0.2624788	total: 18.5s	remaining: 39.2s
3250:	learn: 0.2614551	total: 18.7s	remaining: 38.9s
3300:	learn: 0.2604186	total: 19s	remaining: 38.6s
3350:	learn: 0.2593866	total: 19.3s	remaining: 38.4s
3400:	learn: 0.2583382	total: 19.7s	remaining: 38.1s
3450:	learn: 0.2573548	total: 20s	remaining: 37.9s
3500:	learn: 0.2563131	total: 20.3s	remaining: 37.6s
3550:	learn: 0.2552929	total: 20.6s	remaining: 37.3s
3600:	learn: 0.2543470	total: 20.9s	remaining: 37.1s
3650:	learn: 0.2533759	total: 21.2s	remaining: 36.8s
3700:	learn: 0.2524317	total: 21.4s	remaining: 36.5s
3750:	learn: 0.2515939	total: 21.7s	remaining: 36.2s
3800:	learn: 0.2506661	total: 22s	remaining: 35.9s
3850:	learn: 0.2498200	total: 22.3s	remaining: 35.5s
3900:	learn: 0.2489078	total: 22.5s	remaining: 35.2s
3950:	learn: 0.2480175	total: 22.8s	remaining: 34.9s
4000:	learn: 0.2471065	total: 23.1s	remaining: 34.6s
4050:	learn: 0.2462954	total: 23.4s	remaining: 34.3s
4100:	learn: 0.2453861	total: 23.6s	remaining: 34s
4150:	learn: 0.2445349	total: 23.9s	remaining: 33.7s
4200:	learn: 0.2437450	total: 24.3s	remaining: 33.5s
4250:	learn: 0.2429793	total: 24.6s	remaining: 33.2s
4300:	learn: 0.2421680	total: 24.9s	remaining: 33s
4350:	learn: 0.2414621	total: 25.2s	remaining: 32.7s
4400:	learn: 0.2405959	total: 25.5s	remaining: 32.4s
4450:	learn: 0.2397986	total: 25.8s	remaining: 32.2s
4500:	learn: 0.2389986	total: 26.1s	remaining: 31.9s
4550:	learn: 0.2382516	total: 26.4s	remaining: 31.6s
4600:	learn: 0.2374912	total: 26.8s	remaining: 31.4s
4650:	learn: 0.2368118	total: 27.1s	remaining: 31.1s
4700:	learn: 0.2360220	total: 27.4s	remaining: 30.8s
4750:	learn: 0.2351771	total: 27.7s	remaining: 30.6s
4800:	learn: 0.2344738	total: 28s	remaining: 30.3s
4850:	learn: 0.2337892	total: 28.2s	remaining: 30s
4900:	learn: 0.2330526	total: 28.6s	remaining: 29.7s
4950:	learn: 0.2323460	total: 28.9s	remaining: 29.4s
5000:	learn: 0.2316189	total: 29.1s	remaining: 29.1s
5050:	learn: 0.2309245	total: 29.4s	remaining: 28.8s
5100:	learn: 0.2302767	total: 29.7s	remaining: 28.6s
5150:	learn: 0.2295469	total: 30s	remaining: 28.3s
5200:	learn: 0.2288031	total: 30.3s	remaining: 28s
5250:	learn: 0.2281258	total: 30.6s	remaining: 27.7s
5300:	learn: 0.2275010	total: 30.9s	remaining: 27.4s
5350:	learn: 0.2268053	total: 31.3s	remaining: 27.2s
5400:	learn: 0.2260983	total: 31.6s	remaining: 26.9s
5450:	learn: 0.2254346	total: 31.9s	remaining: 26.6s
5500:	learn: 0.2247886	total: 32.2s	remaining: 26.3s
5550:	learn: 0.2240847	total: 32.5s	remaining: 26.1s
5600:	learn: 0.2234118	total: 32.8s	remaining: 25.8s
5650:	learn: 0.2228200	total: 33.1s	remaining: 25.5s
5700:	learn: 0.2221805	total: 33.4s	remaining: 25.2s
5750:	learn: 0.2216230	total: 33.7s	remaining: 24.9s
5800:	learn: 0.2209915	total: 34s	remaining: 24.6s
5850:	learn: 0.2203962	total: 34.3s	remaining: 24.3s
5900:	learn: 0.2197786	total: 34.6s	remaining: 24s
5950:	learn: 0.2191883	total: 34.9s	remaining: 23.7s
6000:	learn: 0.2185442	total: 35.2s	remaining: 23.4s
6050:	learn: 0.2179257	total: 35.5s	remaining: 23.2s
6100:	learn: 0.2173514	total: 35.8s	remaining: 22.9s
6150:	learn: 0.2167432	total: 36.1s	remaining: 22.6s
6200:	learn: 0.2161673	total: 36.4s	remaining: 22.3s
6250:	learn: 0.2155521	total: 36.7s	remaining: 22s
6300:	learn: 0.2149615	total: 37s	remaining: 21.7s
6350:	learn: 0.2143150	total: 37.2s	remaining: 21.4s
6400:	learn: 0.2137726	total: 37.5s	remaining: 21.1s
6450:	learn: 0.2132234	total: 37.8s	remaining: 20.8s
6500:	learn: 0.2126604	total: 38.1s	remaining: 20.5s
6550:	learn: 0.2120641	total: 38.4s	remaining: 20.2s
6600:	learn: 0.2115044	total: 38.6s	remaining: 19.9s
6650:	learn: 0.2109290	total: 38.9s	remaining: 19.6s
6700:	learn: 0.2104166	total: 39.2s	remaining: 19.3s
6750:	learn: 0.2098710	total: 39.5s	remaining: 19s
6800:	learn: 0.2093494	total: 39.8s	remaining: 18.7s
6850:	learn: 0.2088616	total: 40.1s	remaining: 18.4s
6900:	learn: 0.2083261	total: 40.4s	remaining: 18.1s
6950:	learn: 0.2077675	total: 40.7s	remaining: 17.8s
7000:	learn: 0.2071927	total: 41s	remaining: 17.6s
7050:	learn: 0.2066741	total: 41.3s	remaining: 17.3s
7100:	learn: 0.2061167	total: 41.6s	remaining: 17s
7150:	learn: 0.2056090	total: 41.9s	remaining: 16.7s
7200:	learn: 0.2050905	total: 42.2s	remaining: 16.4s
7250:	learn: 0.2045327	total: 42.5s	remaining: 16.1s
7300:	learn: 0.2040119	total: 42.8s	remaining: 15.8s
7350:	learn: 0.2035174	total: 43.1s	remaining: 15.5s
7400:	learn: 0.2030030	total: 43.4s	remaining: 15.2s
7450:	learn: 0.2024967	total: 43.7s	remaining: 15s
7500:	learn: 0.2020021	total: 44.1s	remaining: 14.7s
7550:	learn: 0.2015142	total: 44.4s	remaining: 14.4s
7600:	learn: 0.2010644	total: 44.7s	remaining: 14.1s
7650:	learn: 0.2005928	total: 45s	remaining: 13.8s
7700:	learn: 0.2000926	total: 45.3s	remaining: 13.5s
7750:	learn: 0.1996203	total: 45.6s	remaining: 13.2s
7800:	learn: 0.1991281	total: 45.8s	remaining: 12.9s
7850:	learn: 0.1986358	total: 46.1s	remaining: 12.6s
7900:	learn: 0.1981444	total: 46.4s	remaining: 12.3s
7950:	learn: 0.1977117	total: 46.7s	remaining: 12s
8000:	learn: 0.1972181	total: 47s	remaining: 11.7s
8050:	learn: 0.1967072	total: 47.4s	remaining: 11.5s
8100:	learn: 0.1962260	total: 47.7s	remaining: 11.2s
8150:	learn: 0.1958043	total: 48.1s	remaining: 10.9s
8200:	learn: 0.1954078	total: 48.4s	remaining: 10.6s
8250:	learn: 0.1949489	total: 48.7s	remaining: 10.3s
8300:	learn: 0.1945023	total: 49s	remaining: 10s
8350:	learn: 0.1940213	total: 49.3s	remaining: 9.74s
8400:	learn: 0.1935651	total: 49.6s	remaining: 9.45s
8450:	learn: 0.1931217	total: 49.9s	remaining: 9.15s
8500:	learn: 0.1926542	total: 50.2s	remaining: 8.86s
8550:	learn: 0.1922167	total: 50.6s	remaining: 8.57s
8600:	learn: 0.1918120	total: 50.9s	remaining: 8.28s
8650:	learn: 0.1913698	total: 51.3s	remaining: 7.99s
8700:	learn: 0.1909786	total: 51.6s	remaining: 7.71s
8750:	learn: 0.1905454	total: 51.9s	remaining: 7.41s
8800:	learn: 0.1900711	total: 52.2s	remaining: 7.11s
8850:	learn: 0.1896089	total: 52.5s	remaining: 6.81s
8900:	learn: 0.1891849	total: 52.8s	remaining: 6.52s
8950:	learn: 0.1888177	total: 53.1s	remaining: 6.22s
9000:	learn: 0.1883960	total: 53.4s	remaining: 5.93s
9050:	learn: 0.1879859	total: 53.7s	remaining: 5.63s
9100:	learn: 0.1875927	total: 54s	remaining: 5.33s
9150:	learn: 0.1871980	total: 54.3s	remaining: 5.04s
9200:	learn: 0.1867740	total: 54.6s	remaining: 4.74s
9250:	learn: 0.1864406	total: 54.9s	remaining: 4.44s
9300:	learn: 0.1860224	total: 55.2s	remaining: 4.15s
9350:	learn: 0.1856607	total: 55.5s	remaining: 3.85s
9400:	learn: 0.1852649	total: 55.7s	remaining: 3.55s
9450:	learn: 0.1848677	total: 56.1s	remaining: 3.26s
9500:	learn: 0.1844855	total: 56.4s	remaining: 2.96s
9550:	learn: 0.1840885	total: 56.7s	remaining: 2.66s
9600:	learn: 0.1837405	total: 57s	remaining: 2.37s
9650:	learn: 0.1833244	total: 57.3s	remaining: 2.07s
9700:	learn: 0.1829745	total: 57.6s	remaining: 1.77s
9750:	learn: 0.1825758	total: 57.9s	remaining: 1.48s
9800:	learn: 0.1822250	total: 58.2s	remaining: 1.18s
9850:	learn: 0.1818553	total: 58.5s	remaining: 884ms
9900:	learn: 0.1814723	total: 58.8s	remaining: 588ms
9950:	learn: 0.1811382	total: 59.1s	remaining: 291ms
9999:	learn: 0.1808036	total: 59.4s	remaining: 0us

# Submition

In [ ]:
# Preprocess test data
test_features = test_df.drop(columns=['id', 'date'], errors='ignore')  # Drop unnecessary columns
test_features = test_features.reindex(columns=X_train.columns, fill_value=0)  # Align columns with training data

In [ ]:
# Predict using the trained CatBoost model
test_df['sales'] = catboost_model.predict(test_features)

In [ ]:
# Reverse log transformation if applied during training
test_df['sales'] = np.expm1(test_df['sales'])  # Use np.expm1 if np.log1p was used during training

# Clip predictions to avoid negative values (optional)
test_df['sales'] = test_df['sales'].clip(lower=0)

In [ ]:
# Create submission file
submission = test_df[['id', 'sales']]  # Include 'id' and the predicted target column
submission.to_csv('submission.csv', index=False)

print("Submission file created: submission.csv")

Submission file created: submission.csv